@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        padding: 20px;

    }

    .row {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .lessons .col {
        width: 100%;
    }

    .steps .col{
        width: 100%;
    }

    section:last-child{
        background-color: black;
    }

   .why-us .col-right {
    width: 100%;
   }

   .why-us .col-left {
    width: 100%;
   }

   .steps{
    margin: 0;
   }

}

@media screen and (max-width: 769px) {

.container {
width: 100%;
}

.row{
    justify-content: center;
    width: 100%;
}

}
